.respLogout{
	width: 60px;
}
.acciones{
	text-align: right;
}
.card-header{
	background: #005F6B;
	color: white;
	border: none;
}
.card{
	border-color: #005F6B;
	border-width: 10px;
	background: #005F6B;
}
.card-block{
	background: white;
}
textarea{
	resize:none;
}

.jumbo1{
	background: #005F6B;
	color:white;
}
.sesion{
	width: 100%;
}

#login{
	background: rgba(0,0,0,0);
}

.container{
	background: white;
}
#login{
	height: 150%;
}
body{
	background: #F2F2F2;
}

.tablaMuestra{
	width: 220px!important;
}

.inputBuscar{
	height: 56px;
}

#botonnuevo{
	width: 100%;
	font-size: 20px;
}

.botonIr{
	border-width:  1px!important;
	border-color:white!important;
}

#encabezado{
	background: #343838!important;
	border-radius: 0;
}

#pie{
	background: #F2F2F2;
}
.btn-primary{
	background: #005F6B;
	border-color: #005F6B;
}
.btn-primary:hover{
	background: #343838;
	border-color: : #343838;
}
.btn-primary:active{
	background: #444848 !important;
	border-color: : #444848 !important;
}

#jumboPrincipal{
	background: #005F6B;
}

.btn-link{
	color: #00B4CC;
}


.page-link{
	color: #00B4CC;
}
.active a{
	background: #005F6B !important;
}
.editar{
	background: #64DBB3;
	border-color: #64DBB3;
	height: 34px;
	width: 34px;
	padding: 6px;
}
.editar:hover{
	background: #4AD38A;
	border-color: #4AD38A;
}
.editar:active{
	background: #5AE39A!important;
	border-color: #5AE39A!important;
}
.borrar{
	background: #F25754;
	border-color: #F25754;
	height: 34px;
	width: 34px;
	padding: 6px;
}
.borrar:hover{
	background: #BF2B2E;
	border-color: #BF2B2E;
}
/*.borrar:active{
	background: #BF2B2E!important;
	border-color: #BF2B2E!important;
}*/
.info{
	background: #00B4CC;
	border-color: #00B4CC;
	height: 34px;
	width: 34px;
	padding: 6px;
}
.info:hover{
	background: #008C9E;
	border-color: : #008C9E;
}
/*.info:active{
	background: #008C9E!important;
	border-color: : #008C9E!important;
}*/